<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class = "container-fluid">
    <div class="row">
      <div class="col-3">
        <img src="/static/images/3.jpg" alt="Nature" onclick="openImg(this);">
      </div>
      <div class="col-3">
        <img src="/static/images/4.jpg" alt="Snow" onclick="openImg(this);">
      </div>
      <div class="col-3">
        <img src="/static/images/5.jpg" alt="Mountains" onclick="openImg(this);">
      </div>
      <div class="col-3">
        <img src="/static/images/6.jpg" alt="Lights" onclick="openImg(this);">
      </div>
    </div>
<div/>

</body>
</html>