<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/bootstrap.min.js"></script>
    <title>title</title>
    <style>
        body {
    background-image: url("/static/images/13.jpg");
}
    </style>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/some_name.js"></script>
</head>
<body>
<h3><a class="nav-link active" href="http://127.0.0.1:8000/main_page4">Главная</a></h3>
<div class="container">
    <h3><p class="text-black">Давайте признаем, что когда речь идет о "Легендарных спортивных автомобилях", то чаще всего на ум приходят автомобили из Германии и Италии. А как же Америка? Действительно ли в США нет потрясающих спортивных автомобилей, которые не просто имеют V8 мотор и простую подвеску? Мы покажем вас самые лучшие спортивные автомобили из Америки за всю историю автомира. К сожалению, некоторые уже не выпускаются и стали историей. Некоторые модели только еще появятся в ближайшем будущем на мировом авторынке. </p></h3>
</div>

 <div class="container-fluid">
    <div class="row">
        <div class="col-sm-5"><h3>Chevrolet Camaro Z28 (1967 год)</h3>После того как компания General Motors выпустила Chevrolet Camaro, то его в шутку прозвали "маленьким большим зверем, который питается Мустангами". Конечно, речь шла о главном конкуренте от компании Форд, который уже в те годы готовил легендарный Мустанг. Но компания GM опередила конкурента. В 1967 году Chevrolet Camaro Z28 появился на Американском автомобильном рынке. Спорткар оснащался 5,0 литровым V8 двигателем, мощностью 290 л.с. Благодаря мощности машина 1/4 мили преодолевала за 15,1 секунду (402,34 метра).<img src="/static/images/10.jpg"></div>
        <div class="col-sm-5"><h3>Ford Mustang Mach 1 (1969 год)</h3>В 1969 году США отправила первого в мире человека на Луну. Неудивительно, что ракеты, реактивные истребители и тому подобная техника в те годы была наиболее популярна. Компания Форд воспользовалась мировым трендом и выпустила на рынок Mustang Mach. По одному внешнему виду автомобиля было видно, что машина агрессивна и создана для тех, кто любит адреналин. Мустанг оснащался двигателями от 5,8 до 7,0 л. Самый мощный мотор V8 имел 335 л.с. В итоге машина с самого начала стала очень популярна. Только за первый год, было продано около 72,000 экземпляров. <img src="/static/images/12.jpg"></div>
    </div>
</div>
</body>
</html>