<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/bootstrap.min.js"></script>
    <title>title</title>
    <style>
        body {
    background-image: url("/static/images/2.jpg");
}
    </style>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/some_name.js"></script>
</head>
<body>
<nav class="nav">
      <h3><a class="nav-link active" href="http://127.0.0.1:8000/main_page4">Главная</a><h3/>
      <h3><a class="nav-link active" href="http://127.0.0.1:8000/main_page5">Статьи</a><h3/>
      <h3><a class="nav-link active" href="http://127.0.0.1:8000/main_page6">Галерея</a><h3/>
          <nav class="nav justify-content-end">
    <form method="post" action="ka">
        <h3><a class="nav-link active" href="http://127.0.0.1:8000/main_page3">Выйти</a><h3/>
    </form>
<nav/>
</nav>

<div class="container">
    <h2><p class="text-white">Топ самых лучших за всю историю автопромышленности Американских спорт автомобилей.</p><h2/>
</div>

</body>
</html>